

    <div class="weather-hbs">
        <h1>Get Today's Weather</h1>
        <form action="/weather" method="POST">
            <label for="city">City: </label>
            <input type="text" name="city">
            <br>
            <br>
            <label for="code">Code: </label>
            <input type="text" name="code">
            <br>
            <input type="submit" value="submit">
            </form>
            <br>
            {{#if err}}
            <h2>{{err}}</h2>
            {{/if}}
            {{#if ListExists}}
            <br>
            <h2>{{name}}</h2>
            <ul>
                {{#each data}}
                <li>{{@key}} : {{this}}</li>
                {{/each}}
            </ul>

            {{/if}}
        
    </div>


